.department-list, .doctor-list {
  padding: 0 10px;
}

.list-item {
  color: #000;
  display: block;
  line-height: 1.32667rem;
  height: 1.32667rem;
  font-size:16px;
  border-bottom: 1px solid #ddd;
}

.list-icon {
  margin-top: 0.4545rem;
  float: right;
  margin-left: 15px;
  font-size: 20px;
}
.van-nav-bar{
  background-color: #1878c4 !important;
}
.van-nav-bar__title{
  color: #ffffff;
}
.van-nav-bar__text{
  color: #ffffff !important;
}
.van-nav-bar .van-icon{
  color: #ffffff !important;
}
.van-radio .van-icon-checked {
  color: #1878c4 !important;
}
