.department-list, .doctor-list {
  padding: 0 10px 50px;
}

.list-item {
  color: #000;
  display: block;
  line-height: 1.32667rem;
  height: 1.32667rem;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.register-content {
  padding-bottom: 50px;
}

.wrapper-prescription-detail .van-collapse-item__content {
  color: rgb(242, 130, 106) !important;
}

.van-collapse-item__content {
  padding: 0 15px !important;
}

.wrapper-record-detail .van-cell__value {
  color: rgb(242, 130, 106) !important;
}

.list-icon {
  margin-top: 0.4545rem;
  float: right;
  margin-left: 15px;
  font-size: 20px;
}

.van-nav-bar {
  background-color: #1878c4 !important;
}

.van-tabbar-item--active, .van-tabbar-item--active a {
  color: #1878c4 !important;
}

.van-tabbar-item__text a, .van-tabbar-item__text a:hover {
  text-decoration: none;
}

.van-tabbar-item__text a:hover {
  color: #1878c4;
}

.van-nav-bar__title {
  color: #ffffff;
}

.van-nav-bar__text {
  color: #ffffff !important;
}

.van-nav-bar .van-icon {
  color: #ffffff !important;
}

.van-radio .van-icon-checked {
  color: #1878c4 !important;
}